.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #ffffff;
}

.load {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
}

.shelves {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .row {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-evenly;
    width: 100%;

    .info {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: center;
      gap: 5px;
      height: 100%;

      h1 {
        margin: 0;
        margin-bottom: 10px;;
        font-size: 16px;
        font-weight: 600;
      }
      
      p {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
}

.prepack {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20x;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    border-bottom: 1px solid #bebebe;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    h1 {
      margin: 15px;
      font-size: 20px;
      font-weight: 500;
    }
  }

  .info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    
    border-top: 1px solid #bebebe;
    background-color: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    p {
      font-size: 16px;
      font-weight: 500;
      margin: 15px;

      b {
        font-weight: 600;
      }
    }
  }
}
