.block {
    position: relative;
    height: auto;
    width: calc(100% - 60px - 60px);
    padding: 25px;
    border-radius: 5px;
    border: 1px solid #d0d7de;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;

    color: #3d3d3d;

    background-color: #ffffff;
}