.colorBtn {
    height: 32px;
    width: 150px;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 5px;
    border: none;
    outline: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    cursor: pointer;

    p {
        width: calc(100% - 15px - 20px);
        margin: 0;

        text-align: center;
        line-height: 30px;
        font-weight: 700;
        font-size: 14px;

        color: #ffffff;
    }
    img {
        height: 30px;
        width: 20px;
        margin-left: 10px;
    }
}
.disabledColorBtn {
    border: 1px solid #d0d7de;
    padding-left: 20px;
    padding-right: 20px;

    p {
        width: 100%;

        font-weight: 400;
        color: #3d3d3d;
    }
}