.saveButton {
  position: fixed;
  bottom: 10px;
  right: 9px;
  width: 120px;
  height: 40px;
  cursor: pointer;
  background-color: #c96442;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: none;
  border-radius: 8px 0 8px 0;
}
