.saveButton {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 120px;
    height: 40px;
    cursor: pointer;
    background-color: #8a86ce;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    padding: none;
    border-radius: 10px 0 0 0;
}
