.tableSpace {
    position: absolute;
    align-items: center;
    margin-top: calc(160px - 1px);
    width: 100%;
    height: calc(100% - 159px);

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #ffffff;
    overflow-y: scroll;
}
