.tableSpace {
    position: absolute;
    align-items: center;
    margin-top: 99px;
    width: 100%;
    height: calc(100% - 99px);

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #ffffff;
    overflow-y: scroll;
}
