.vinput {
    p {
        width: 90%;
        font-weight: 700;
        font-size: 16px;
        color: #3d3d3d;
        align-self: left;
        text-align: left;
    }
    input {
        height: 25px;
        width: calc(100% - 40px);
        text-align: left;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 5px;
        background-color: #f6f8fa;
        color: #3d3d3d;
        border: 2px solid #d0d7de;
        outline: none;
    }
}