.workingSpace {
    position: absolute;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: calc(100% - 50px);

    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: #ffffff;
    overflow-y: scroll;

    .table {
        width: 100%;
        margin-bottom: 25px;
    }
}
